.intro-text {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 30px;
  font-family: 'Harry Potter', sans-serif;
}

#paragraph {
  font-family: Snell Roundhand, cursive;
  font-size: larger;
}

img {
  width: 286px;
  height: 200px;
}

.floater {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-content: center;
}

.btn-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 30px;
}

.btn-all-houses {
 background: #c0c0c0;
 border-color: #7e7e7e;
}

.btn-green {
  background: #185d09;
  border-color: #0e3605;
  color: silver;
}

.btn-blue {
  background: #0852a0;
  border-color: #05315f;
  color: silver;
}

.btn-red {
  background: #b41919;
  border-color: #8F1919;
  color: gold;
}

.btn-yellow {
  background: #dbb509;
  border-color: #B99907;
  color: black;
}

.btn-danger {
  background: black;
  color: silver;
}

#expelled {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
}

.card-body2 {
  background: black;
  color: silver;
  text-align: center;
}

#new-in {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  gap: 10px 10px;
  padding: 15px;
}

#expelled {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: space-around;
  gap: 10px 10px;
  padding: 15px;
}
